<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inny_typ_2.Properties.Settings.WodaConnectionString"
            connectionString="Data Source=.\SQLEX;Initial Catalog=Woda;User ID=sa;Password=admin92"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>